/* * {
  border: 1px solid black;
} */
body {
  margin: 0;
  height: 100vh;
  font-family: "Orbitron";
  background-image: url(./32.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.mosha {
  backdrop-filter: blur(12px);
}
.flex {
  display: flex;
}
.yinying {
  box-shadow: rgb(0 0 0 / 55%) 2px 2px 7px -1px,
    rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
}
.column {
  flex-direction: column;
}
.flex1 {
  flex: 1;
}
/* 设置页面黑白 */
.heibai {
  filter: grayscale(0) blur(0px) contrast(1) saturate(0.1);
}
p {
  color: white;
}
.p1 {
  color: rgb(235, 223, 223);
}
.start {
  justify-content: start;
}
.dibian {
  border-bottom: 1px solid #a8a8a8;
}
.row {
  flex-direction: row;
}
.fontfamily1 {
  font-family: "Modern Antiqua", cursive;
}
.yuanjiao {
  border-radius: 10px;
}
.abc:hover {
  box-shadow: rgb(0 0 0 / 55%) 2px 2px 7px -1px,
    rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
}
.mg {
  margin-top: 0px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 0px;
}
.flex2-4 {
  flex: 2.4;
}
.mgb8 {
  margin-bottom: 8px;
}
.mgt8 {
  margin-top: 8px;
}
/* 滚动条滑块 */
::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 8px; /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}
::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  /* border-radius: 10px; */
  background-color: #f90;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
}
::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0px;
}
